<?xml version="1.0" encoding="UTF-8"?>
<data>
  <numberofdatagrams>2</numberofdatagrams>
  <addressin>
    <ip>127.0.0.1</ip>
    <port>20000</port>
  </addressin>
  <addresesout>
      <addout>
      <ip>127.0.0.1</ip>
      <port>20001</port>
    </addout>
       <addout>
      <ip>127.0.0.1</ip>
      <port>20002</port>
      </addout>
   </addresesout>
</data>
